// * {
//     border: 1px solid black;
// }

.comment-form {
    margin-top: 40px;

}

form {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 16pt;
    border: 1px solid darkgray;
    border-radius: 5px;

    input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
    }

    div {
        font-size: 14pt;
        margin-top: 5px;
        color: rgb(255, 146, 146);
    }

    button {
        margin-top: 15px;
        border-radius: 15px;
        width: 150px;
        height: 50px;
        background-color: #33b1dd;
        color: #fff;
        border: 3px solid #007fad;
    }
}
