<div class="row mb-3 d-flex justify-content-around">
    <div class="col-6 r3 p-3 d-flex flex-column justify-content-between">
        <div class="dashboard-title">ENGAGEMENT</div>
        <div class="charts">
            <div class="chart-content">
                <div class="chart-title">5.6M</div>
                <div class="chart-subtitle">SESSION</div>
                <img src="../../../../assets/imgs/3_1.png" alt="">
            </div>
            <div class="chart-content">
                <div class="chart-title">4.8M</div>
                <div class="chart-subtitle">USERS</div>
                <img src="../../../../assets/imgs/3_2.png" alt="">
            </div>
            <div class="chart-content">
                <div class="chart-title">5:06</div>
                <div class="chart-subtitle">PAGE VIEW</div>
                <img src="../../../../assets/imgs/3_3.png" alt="">
            </div>
            <div class="chart-content">
                <div class="chart-title">6.24</div>
                <div class="chart-subtitle">SESSION DURATION</div>
                <img src="../../../../assets/imgs/3_4.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-6 r3 d-flex flex-column justify-content-between p-3">
        <div class="dashboard-title">STATISTICS</div>
        <div class="main-stats d-flex flex-column justify-content-between">
            <div class="stat">
                <div class="progress">
                    <div class="progress-bar-one"></div>
                </div>
                <div class="stat-text">
                    <div class="stat_title">Bounce Rate</div>
                    <div class="stat-percents">34%</div>
                </div>
            </div>
        </div>
        <div class="main-stats">
            <div class="stat">
                <div class="progress">
                    <div class="progress-bar-two"></div>
                </div>
                <div class="stat-text">
                    <div class="stat_title">New Visits</div>
                    <div class="stat-percents">65%</div>
                </div>
            </div>
        </div>
        <div class="main-stats">
            <div class="stat">
                <div class="progress">
                    <div class="progress-bar-three"></div>
                </div>
                <div class="stat-text">
                    <div class="stat_title">Search Traffic</div>
                    <div class="stat-percents">49%</div>
                </div>
            </div>
        </div>
        <div class="main-stats">
            <div class="stat">
                <div class="progress">
                    <div class="progress-bar-four"></div>
                </div>
                <div class="stat-text">
                    <div class="stat_title">Modern Browsers</div>
                    <div class="stat-percents">73%</div>
                </div>
            </div>
        </div>
    </div>
</div>