<div class="row mb-3 d-flex justify-content-around">
    <div class="col-6 r2 r2-block-one p-3">
        <div class="r2-text d-flex justify-content-between">
            <div class="dashboard-title">LATEST CAMPAIGN</div>
            <img src="../../../../assets/imgs/switch.png" alt="">
        </div>
        <app-main-chart></app-main-chart>
        
    </div>
    <div class="col-6 r2">
        <div class="r2-text">
            <div class="dashboard-title">MANAGED SERVICES</div>
            <div class="r2-subtitle">Service report on this year (updated 1 month ago)</div>
        </div>
        <img class="r2-chart-two" src="../../../../assets/imgs/2.png" alt="">
    </div>
</div>