<div class="row d-flex justify-content-around mb-3 mt-3">
    <div class="col-4">
        <div class="r1">
            <div class="r1-content">
                <div class="r1-text d-flex flex-column justify-content-between">
                    <span>New Users</span>
                    <div class="text-num d-flex justify-content-between">
                        <div class="text-num-icon text-primary">></div>
                        <div class="text-num-text">125</div>
                    </div>
                </div>
                <img src="../../../../assets/imgs/chart1.png" alt="">
                <div class="square s-one">
                    <div class="circle">
                        <img src="../../../../assets/imgs/icons/display.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="r1">
            <div class="r1-content d-flex justify-content-between">
                <div class="r1-text d-flex flex-column justify-content-between">
                    <span>Monthly Sales</span>
                    <div class="text-num d-flex justify-content-between">
                        <div class="text-num-icon text-success">></div>
                        <div class="text-num-text">85%</div>
                    </div>
                </div>
                <img src="../../../../assets/imgs/chart2.png" alt="">
                <div class="square s-two">
                    <div class="circle">
                        <img src="../../../../assets/imgs/icons/file-earmark-richtext-white.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="r1">
            <div class="r1-content d-flex justify-content-between">
                <div class="r1-text d-flex flex-column justify-content-between">
                    <span>Impressions</span>
                    <div class="text-num d-flex justify-content-between">
                        <div class="text-num-icon">></div>
                        <div class="text-num-text">565</div>
                    </div>
                </div>
                <img src="../../../../assets/imgs/chart3.png" alt="">
                <div class="square s-three">
                    <div class="circle">
                        <img src="../../../../assets/imgs/icons/copy.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>