<div class="sidebar">
    <div class="profile-info p-3 w-100 d-flex flex-column align-items-center ">
        <div class="side-top d-flex justify-content-between w-100">
            <div class="top-title">Dash Board.</div>
            <div class="nav-but" onclick="toggleNavbar()">
                <img src="../../../assets/imgs/icons/list.svg" alt="">
            </div>
        </div>
        <div class="profile-pic mt-4"></div>
        <div class="user-name d-flex justify-content-between mt-3">
            <span class="name-text">Danny Alvis</span>
            <img src="../../../assets/imgs/icons/chevron-down.svg" alt="">
        </div>
        <div class="user-profession text-center mt-2">Art Director</div>
    </div>

    <div class="navigation p-3">
        <div class="nav-title">Navigation</div>
        <div class="nav-item">
            <div class="nav-item-name d-flex">
                <img src="../../../assets/imgs/icons/speedometer2.svg">
                <span>Dashboard</span>
            </div>
            <img src="../../../assets/imgs/icons/chevron-right.svg" alt="">
        </div>
        <div class="nav-item">
            <div class="nav-item-name d-flex">
                <img src="../../../assets/imgs/icons/envelope.svg" alt="">
                <span>Email</span>
            </div>
            <div class="nav-notif-1">6</div>
        </div>
    </div>

    <div class="components p-3">
        <div class="nav-title">Components</div>
        <div class="nav-item">
            <div class="nav-item-name d-flex">
                <img src="../../../assets/imgs/icons/hdd-stack.svg" alt="">
                <span>Layout</span>
            </div>
            <div class="nav-notif-1">5</div>
        </div>
        <div class="nav-item">
            <div class="nav-item-name d-flex">
                <img src="../../../assets/imgs/icons/bag-plus.svg" alt="">
                <span>UI Kits</span>
            </div>
            <img src="../../../assets/imgs/icons/chevron-right.svg" alt="">
        </div>
        <div class="nav-item">
            <div class="nav-item-name d-flex">
                <img src="../../../assets/imgs/icons/table.svg" alt="">
                <span>Table</span>
            </div>
            <div class="nav-notif-2">8</div>
        </div>
        <div class="nav-item">
            <div class="nav-item-name d-flex">
                <img src="../../../assets/imgs/icons/file-earmark.svg" alt="">
                <span>Form</span>
            </div>
            <img src="../../../assets/imgs/icons/chevron-right.svg" alt="">
        </div>
        <div class="nav-item">
            <div class="nav-item-name d-flex">
                <img src="../../../assets/imgs/icons/graph-up.svg" alt="">
                <span>Chart</span>
            </div>
        </div>
        <div class="nav-item">
            <div class="nav-item-name d-flex">
                <img src="../../../assets/imgs/icons/file-earmark-richtext.svg" alt="">
                <span>Pages</span>
            </div>
            <img src="../../../assets/imgs/icons/chevron-right.svg" alt="">
        </div>
    </div>

    <div class="your-stuff p-3">
        <div class="nav-title">Your stuff</div>
        <div class="nav-item">
            <div class="nav-item-name d-flex">
                <img src="../../../assets/imgs/icons/person-green.svg" alt="">
                <span>Profile</span>
            </div>
            <div class="nav-notif-3">30%</div>
        </div>
        <div class="nav-item">
            <div class="nav-item-name d-flex">
                <img src="../../../assets/imgs/icons/question-circle.svg" alt="">
                <span>Documents</span>
            </div>
        </div>
    </div>

    <div class="nav-stats p-3">
        <div class="nav-stats-item">
            <div class="nav-stats-text">
                <div class="nav-item-name">Milestone</div>
                <div class="nav-item-name">63%</div>
            </div>
            <div class="nav-progress">
                <div class="nav-progress-bar-one"></div>
            </div>
        </div>
        <div class="nav-stats-item">
            <div class="nav-stats-text">
                <div class="nav-item-name">Release</div>
                <div class="nav-item-name">38%</div>
            </div>
            <div class="nav-progress">
                <div class="nav-progress-bar-two"></div>
            </div>
        </div>
    </div>

</div>